<html>
    <header>
        <div class="nav-left">
        <h1><a href="{% url "home" %}">DjangoBlog</a>
        </div>
        <div class="nav-right">
            <a href="{%url "create"%}">+New Post</a>
        </div>
    </header>

    {% if user.is_authenticated %}
    <p>Welcome {{user.username}}</p>
    <form action="{% url "logout" %}" method="POST"> {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url "login" %}">LogIn</a> ||
        <a href="{% url "signup" %}">SignUp</a>
    {% endif %}

    <hr>
    <hr>
    {% block content %}
    
    {% endblock content %}
</html>
